pysparAnalisis Exploratorio/.ipynb_checkpoints/
Analisis Exploratorio/Data/status.csv
.ipynb_checkpoints/
prediccion/Data/.ipynb_checkpoints/
prediccion/hs_err_pid6571.log
prediccion/pruebas.ipynb
prediccion/Data/hs_err_pid6571.log
prediccion/Data/hs_err_pid6836.log
prediccion/Data/pruebas.ipynb
Analisis Exploratorio/hs_err_pid4915.log
*.pyc
prediccion/Data/test.csv
prediccion/Data/train.csv
.idea